/* All Style */
body {
    margin: 0;
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

dt,
dd {
    height: 40px;
    overflow: hidden;
    font-size: 14px;
    line-height: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

dt {
    color: #d7d8d9;
}

dd {
    margin: 0;
    color: #9a9ea1;
}

/* Header */
.header {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    z-index: 1000;
    width: 100%;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.09);
    background: rgba(34,50,72,.3);
}

.header .logo-block {
    margin-right: 40px;
}

.header .logo-block > img {
    height: 36px;
}

.header .logo-block .logo-en {
    padding-right: 30px;
    border-right: 2px solid #fff;
}

.header .logo-block .logo-cn {
    padding-left: 30px;
}

.header .header-nav > a {
    font-size: 16px;
    color: #fff;
}

.header .header-nav .nav-link {
    color: #fff;
}

.header .header-nav .nav-link:active {
    color: #fff;
}

.header .header-nav > a {
    margin-right: 20px;
    white-space: nowrap;
}

.header .header-nav .about-us {
    margin-right: 60px;
}

.header .header-nav > a > span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 28px;
    border: 2px solid #fff;
    border-radius: 50%;
}

/* Main Style */
.main {
    position: relative;
    background-color: #f2f2f2;
}

.main .main-ad {
    padding: 0;
    text-align: center;
}

.main .main-ad > img {
    width: 100%;
}

/* Nav Style */
.main .nav {
    position: absolute;
    top: 638px;
    z-index: 1000;
    height: 110px;
    background-color: #fff;
}

.main .nav > ul {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 110px;
}

.main .nav > ul > li {
    width: 163px;
    height: 110px;
    overflow: hidden;
    font-size: 22px;
    line-height: 110px;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
}

.main .nav .nav-li-select {
    color: #fff;
    background-color: #07b7ea;
}

/* Section Style */
.main .section-container {
    margin-top: 54px;
    background-color: #fff;
}

.main .section-hidden {
    display: none;
}

/* Section News Style */
.main .section .news-item {
    padding: 50px 30px;
}

.main .news-element {
    display: flex;
    justify-content: left;
    margin: 0 20px;
    padding: 20px 10px 10px 20px;
    border-bottom: 3px solid #e4e7ed;
    font-size: 14px;
}

.main .news-element > a {
    margin-right: 45px;
}

.main .section .news-img,
.news-article {
    margin: 0 10px;
}

.main .section .news-img > img {
    width: 100%;
    height: 220px;
}

.main .news-article > h3 {
    height: 20px;
    margin: 0;
    overflow: hidden;
    font-size: 18px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main .news-article .p-small {
    margin: 5px 0;
    font-size: 14px;
    font-weight: 400;
    color: #808080;
}

.main .news-article .p-small > time {
    padding-right: 5px;
}

.main .news-article .p-mid {
    height: 132px;
    margin-top: 30px;
    overflow: hidden;
    font-size: 18px;
    color: #494848;
}

/* Section Join Us Style */
.main .join-us-box {
    padding: 0 75px 120px 75px;
}

.main .section-h2 {
    width: 100%;
    margin: 90px 0;
    overflow: hidden;
    font-size: 24px;
    font-weight: 500;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
}

.main .icon-list {
    text-align: center;
}

.main .icon-item {
    padding: 0 10px;
}

.main .icon-item .item-img1 {
    margin-bottom: 5px;
}

.main .icon-item .item-img2 {
    margin-bottom: 1px;
}

.main .icon-item .item-img3 {
    margin-bottom: 7px;
}

.main .icon-item .item-img4 {
    margin-bottom: 12px;
}

.main .icon-item > h2 {
    margin: 20px 0;
    font-size: 24px;
    font-weight: 500;
}

.main .icon-item > p {
    margin: 20px 0;
    font-size: 14px;
}

.main .welfare-detail > h3 {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 400;
    color: #666;
}

.main .welfare-detail {
    margin: 100px 0 60px 0;
}

.main .welfare-detail > p,
.main .check-more-block > p {
    margin: 5px 0;
    padding: 0 20px;
    font-size: 14px;
}

.main .check-more-block {
    text-align: center;
}

.main .check-more-block .check-more-button {
    width: 290px;
    height: 80px;
    margin: 20px 0;
    outline: none;
    border: 0;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background-color: #07b7ea;
}

.main .check-more-block .correct {
    margin: 0 10px;
    color: #07b7ea;
}

.main .tab {
    display: flex;
    align-items: center;
    margin: 20px 0;
    border-bottom: 3px solid #e4e7ed;
    font-size: 14px;
}

.main .tab > li {
    margin: 10px 20px;
}

.main .position {
    margin: 0 20px;
}

.main .position .position-section {
    margin-top: 60px;
}

.main .position-section > h3 {
    font-weight: 400;
    font-size: 24px;
    color: #2175e2;
}

.main .position-detail {
    display: flex;
    align-items: top;
}

.main .position-detail-item {
    flex: .5;
    padding-right: 20px;
}

.main .position-detail-item > h4 {
    margin: 20px 0 30px 0;
    font-size: 16px;
    font-weight: 500;
}

.main .position-detail-ul > li,
.main .position-detail-ul-more > li {
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
}

.main .position-detail-ul > li {
    margin: 0;
}

.main .position-detail-ul-more > li {
    margin-left: 20px;
}

/* Article Style */
.article {
    height: 200px;
    background-color: #07b7ea;
}

.article .article-title {
    height: 200px;
    overflow: hidden;
    font-size: 28px;
    line-height: 200px;
    color: #fff;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
}

/* Footer Style */
.footer {
    padding: 50px 0 10px 0;
    color: #fff;
    background-color: #212b33;
}

.footer .footer-top {
    padding-bottom: 20px;
    border-bottom: 1px solid #3b3e40;
}

.footer .footer-top-left {
    display: flex;
    flex-wrap: wrap;
}

.footer .footer-top-left > dl {
    margin-right: 96px;
    font-size: 14px;
}

.footer .footer-top-right {
    padding-left: 40px;
    border-left: 1px solid #3b3e40;
}

.footer .footer-top-right > h2 {
    margin: 0;
    font-size: 28px;
}

.footer .footer-top-right > p {
    margin: 10px 0;
    font-size: 16px;
    color: #9a9ea1;
}

.footer .footer-top-right .img-box > img {
    margin-right: 40px;
}

.footer .footer-center {
    padding: 0 15px;
    border-bottom: 1px solid #3b3e40;
}

.footer .footer-center > dl {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.footer-center-dl > dt,
.footer-center-dl > dd {
    margin-right: 50px;
}

.footer .footer-bottom {
    margin-top: 25px;
    padding: 0 15px;
    font-size: 12px;
    color: #4a545c;
}